body {
  background-color: lawngreen; 
  font-family: Luminari, fantasy;
}
h1 {
  color: tomato;
  text-align: center;
}
.assign{ 
  display: flex;
  padding: 10px;
  margin: 10px;
  background: lightsalmon;
}
.assign img {
  width: 200px;
  padding: 10px;
}
